*{
    margin :0;
    padding : 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music_player{
    background:#444;
    width: 400px;
    height: 669px;
    padding: 25px 35px;
    text-align: center;
}

.music_player h1{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-top: 8px;
    margin-left: 50px;
}

.music_player p{
    font-size: 14px;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #22141b;
    box-shadow: 0 5px 10px rgba(0, 10, 143, 0.22);
    margin-left: 10px;
}

.circle{
    color: white;
}

.song_img{
    box-shadow: 0 10px 60px rgba(0, 10, 143, 0.22);
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #bdb3b3;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #bdb3b3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 10, 143, 0.22);
}

.controls{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color : black;
    box-shadow: 0 5px 10px rgba(0, 10, 143, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: #fff;
    color: black;
}

.list{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.music_playlist h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 650;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music_playlist p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding-top: -10px;
}

.item{
    min-width: 120px;
    width: 150px;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
    background-color: #383737;
}

.item:hover{
    background-color: #4f4d4d;
}

.item img{
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1px;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: #5e5e5e;
}

::-webkit-scrollbar-thumb{
    background: #707070;
    border-radius: 8px;
}

.title_block{
    text-align: left;
    color: white;
    margin-bottom: 15px;
}